[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
setuptools = "*"
lxml = "==4.5.2"

[dev-packages]
pytest = "*"
apache-airflow = "*"
pylint = "*"
paramiko = "*"
sshtunnel = "*"
tulflow = "==0.6.3"

[requires]
python_version = "3.6"
