[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
pytest = "*"
apache-airflow = "==2.0.2"
cryptography = "==3.3.2"
pylint = "*"
paramiko = "*"
sshtunnel = "*"
setuptools = "*"
tulflow = "==0.8.0"

[requires]
python_version = "3.6"
